# Backend Environment Variables
REDIS_URL=redis://localhost:6379/1

RAILS_ENV=development
RAILS_LOG_TO_STDOUT=true
RAILS_SERVE_STATIC_FILES=true

# CORS Configuration
CORS_ORIGINS=http://localhost:5173,http://localhost:3000

# JWT Configuration
DEVISE_JWT_SECRET_KEY=***
JWT_EXPIRATION_TIME=15
JWT_REFRESH_EXPIRATION_TIME=10080

# Integration APIs
ASAAS_API_KEY='***'
ASAAS_API_URL=https://api-sandbox.asaas.com/v3
ASAAS_INVOICE_SERVICE_ID=178941 #6203-1/00 - Licenciamento ou cessão de direito de uso de programas de computação
ASAAS_INVOICE_SERVICE_NAME=6203-1/00 - Licenciamento ou cessão de direito de uso de programas de computação
ASAAS_INVOICE_SERVICE_CODE=1.05
ASAAS_INVOICE_UPDATE_PAYMENT=false
ASAAS_INVOICE_DEDUCTIONS=0
ASAAS_INVOICE_EFFECTIVE_DATE=ON_PAYMENT_CONFIRMATION
ASAAS_INVOICE_RECEIVED_ONLY=true
ASAAS_INVOICE_RETAIN_ISS=false
ASAAS_INVOICE_COFINS=0
ASAAS_INVOICE_CSLL=0
ASAAS_INVOICE_INSS=0
ASAAS_INVOICE_IR=0
ASAAS_INVOICE_PIS=0
ASAAS_INVOICE_ISS=0

WHATS_SERVER_TYPE=https
WHATS_SERVER_URL=https://whats.polemk.com
WHATS_AUTHENTICATION_API_KEY=***
WHATS_CORS_ORIGIN=*
WHATS_CORS_METHODS=GET,POST,PUT,DELETE
WHATS_CORS_CREDENTIALS=true
WHATS_LOG_LEVEL=ERROR,WARN,DEBUG,INFO,LOG,VERBOSE,DARK,WEBHOOKS,WEBSOCKET
WHATS_LOG_COLOR=true
WHATS_CONFIG_SESSION_PHONE_CLIENT=Polemk API
WHATS_CONFIG_SESSION_PHONE_NAME=Chrome
WHATS_LANGUAGE=en

# Security
SECRET_KEY_BASE=***

# Rate Limiting
RATE_LIMIT_REQUESTS_PER_MINUTE=60
RATE_LIMIT_BURST=10

OAUTH_REDIRECT_URI=https://app/auth/callback
OAUTH_GOOGLE_REDIRECT_URI=https://app/auth/callback
OAUTH_FACEBOOK_REDIRECT_URI=https://app/auth/callback
CORS_ORIGINS=http://localhost:5173,https://486ab201c5da.ngrok-free.app


# Email Configuration
SMTP_ADDRESS= host do servidor SMTP externo (ex.: smtp.sendgrid.net).
SMTP_PORT= porta SMTP (ex.: 587 para TLS).
SMTP_USERNAME= usuário/autenticação SMTP.
SMTP_PASSWORD= senha/chave SMTP.
MAILER_FROM= remetente padrão (ex.: no-reply@polemk.com ).
SMTP_SENDER=pk@pk.com
SMTP_AUTHENTICATION=login
SMTP_DOMAIN=pk.com
SMTP_TLS_ENABLED=true
SMTP_DELIVERING=async
MAILER_FROM=nsc@pk.com

APP_HOST= host público usado em URLs de email (ex.: pika.polemk.com).
FRONTEND_CALLBACK_URL=https://app/auth/callback